{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <!-- ko if: disabled -->
        <div style="padding: 10px"><i class="fa fa-exclamation-triangle" style="color:#ff7a00"></i>You need to save an <span data-bind="text: depends_on"></span> before selcting an address number</div>
        <!-- /ko -->
        <div class="col-xs-12">
            <input style="padding-bottom: 5px;"
                data-bind="
                select2Query: {
                    select2Config: select2Config
                },
                attr :{
                    disabled: disabled
                }
            ">
        </div>
        <div class="col-xs-12" style="padding-bottom: 20px; padding-left: 24px;">
            <label class="control-label widget-input-label" for="">Street Segment Id: </label>
            <span data-bind="text: street_segment_id" style="margin-bottom: 5px"></span>
            <br>
            <label class="control-label widget-input-label" for="">Street Name: </label>
            <span data-bind="text: street_name" style="margin-bottom: 5px"></span>
        </div>
        <div class="col-xs-12">
            <input type="number" data-bind="textInput: street_number, attr: {placeholder: street_num_placeholder, disabled: disabled}" class="form-control input-lg widget-input" style="margin-bottom: 5px">
        </div>
        <div class="col-xs-12">
            <input data-bind="textInput: street_number_suffix, attr: {placeholder: street_num_suffix_placeholder, disabled: disabled}" class="form-control input-lg widget-input" style="margin-bottom: 5px">
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div class="control-label">
    {% trans "Only allow input to this when this node is popluated" %}
</div>
<div class="col-xs-12 crud-widget-container">
    <input type="" placeholder="{% trans "Node Name" %}" id="" class="form-control input-md widget-input" data-bind="textInput: depends_on">
</div>

<div class="control-label">
    {% trans "Placeholder for Street Segment Dropdown" %}
</div>
<div class="col-xs-12 crud-widget-container">
    <input type="" placeholder="{% trans "Street Segment" %}" id="" class="form-control input-md widget-input" data-bind="textInput: street_seg_placeholder">
</div>
<div class="control-label">
    {% trans "Placeholder for Street Number" %}
</div>
<div class="col-xs-12 crud-widget-container">
    <input type="" placeholder="{% trans "Street Number" %}" id="" class="form-control input-md widget-input" data-bind="textInput: street_num_placeholder">
</div>
{% endblock config_form %}

{% block report %}
<dt data-bind="text: label"></dt>
<dd>
  <div style='margin-bottom:2px' data-bind="text: value"></div>
</dd>
{% endblock report %}
